
.form-style input{
  margin-top: 10px;
  height: 70px;
  color: #000000;
}
.form-style input[type=text], [type=email]{
  width: 100%;
  padding: 12px 16px;
  margin: 8px 0;
  color: #000000;
  box-sizing: border-box;
}
.form-style input[type=text]{
  width: 100%;
  padding: 12px 16px;
  margin: 8px 0;
  color: #000000;
  box-sizing: border-box;
}
.form-style textarea{
  margin-top: 10px;
  color: #000000;
  resize: none;
  padding: 12px 16px;
}
.form-style .submit-button{
  background-color: #111430;
  width: 170px;
  height: 45px;
  color: #ffffff;
  border-radius: 5px;
  
}