.style-textarea {
  resize: none;
  background: #FFFFFF;
  border: 0.666667px solid #C9C9C9;
  border-radius: 3.33333px;
}

.container {
  border-radius: 20px;
  background: #ffffff;


}

.input-container .type-image {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #009444;
  cursor: pointer;
}

.input-container .type-text {
  background: #FFFFFF;
  border: 0.666667px solid #C9C9C9;
  border-radius: 3.33333px;
}

.label-upload::-webkit-file-upload-button {
  visibility: hidden;
}
.label-upload::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.label-upload:hover::before {
  border-color: black;
}
.label-upload:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}